.game {
  max-width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.cell {
  height: 100px;
  width: 100px;
  border: 1px solid #cccccc;
  cursor: pointer;
  background-color: rgb(102, 121, 142);
  transition: background-color 0.5s ease-in-out;
}

.cell:hover {
  background-color: #f5f5f5;
}

.status {
  margin-bottom: 20px;
  text-align: center;
}

.resetbtn {
  margin: 24px;
}
